* {
    box-sizing: border-box;
}

body{
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

a:visited {
    color: #000000;
  }

.menu{
    font-weight: 300;
    font-size: 18px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;
    padding: 0px;
}
/*
.header{

}

.menu__btn{

}

.--hvadervold{

}

.--udsatforvold{

}

.--brugforhjaelp{

}

.--boern{

}

.--andet{

}
*/

.urgent {
    position: fixed;
    left: 0;
    z-index: 1;
    background: #896B6B;
    width: 84px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
  }
  
section {
    display: block;
  }
  .urgent__btn {
      box-sizing: border-box;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      color: #ffffff;
}
.urgent__btn:link {
color: #000000;
}

  .--leave{
      background-color: #896B6B;
      width: 84px;
      box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
      padding: 8px;
  }

  .--call{
      background-color: #C08889;
      width: 84px;
      box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
      padding: 8px;

  }

 .--clear{
         background-color: #5F4747;
         width: 84px;
         box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
         padding: 8px;
 }

.btn__back{
    color: #ffffff;
    background-color: #5F4747;
    padding: 10px;
    margin: 10px;
    border:#5F4747;
    
}

.info {
    box-sizing: border-box;
    padding: 100px;
    border: 10px solid #5F4747;
    padding: 60px;
    margin: 10px auto;
    max-width: 900px;
    margin-top: 45px;
  }

  header {
    background-color: #CDA9AB;
    display: -ms-grid;
    display: grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 2em;
  }
  
  header img {
    width: 140px;
    height: 100px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-left: 1em;
    margin-right: 10em;
  }
  
  header p {
    color: white;
    margin-top: 5em;
    font-size: 15px;
    text-decoration: underline;
    margin: 0px;
    padding: 10px;
  }

.article{
    display: block;
}

.font__one{
    font-weight: 300;
    font-size: 35px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
    text-align: center;
}

.font__two{
    font-weight: 200;
    font-size: 14px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
    
}

.font__three{
    font-weight: 200;
    font-size: 18px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
}

.font__four{
    font-weight: 100;
    font-size: 14px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
}

.font__five{
    font-weight: 100;
    font-size: 25px;
    line-height: 1.7em;
    /*line-height: 2.25rem;*/
    letter-spacing: normal;
    text-transform: uppercase;
    color: #5F4747;
    text-align: center;
}

.vold__list{
    font-weight: 600;
    font-size: 18px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-decoration: none;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}
.vold__list li {
    padding: 0 2em;
}

.vold__list .vold__list:link {
color: #000000;
}

.vold__list-header{
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
    text-align: center;
}
.vold__slide{
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    border: 10px solid #5F4747;
    padding: 60px;
    margin: 10px auto;
    max-width: 900px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
}

.slet__list-mobile{
    font-weight: 600;
    font-size: 16px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    text-decoration: none;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    color: #5F4747;
}

.slet__list-desktop{
    font-weight: 600;
    font-size: 16px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-decoration: none;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    color: #5F4747;
}


/* showing/hiding vold texts */
.vold__slide {
    display: none;
}
.vold__slide.active {
    display:block;
}
.vold__link.active {color:green}


/*to top button in side - source
https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #B99B9D; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 0px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #896B6B; /* Add a dark-color background on hover */
  }