* {
    box-sizing: border-box;
}

body{
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

a:visited {
    color: #000000;
  }

/*menu bar on top in header */  
.menu{
    font-weight: 300;
    font-size: 18px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;
    padding: 0px;
}







/* knapper til siden som - i wrapper*/
.urgent {
    position: fixed;
    left: 0;
    z-index: 1;
    background: #896B6B;
    width: 84px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
  }
  
section {
    display: block;
  }
  .urgent__btn {
      box-sizing: border-box;
      font-size: 18px;
      font-weight: 200;
      text-decoration: none;
      display: inline-block;
      color: #ffffff;
}
.urgent__btn:link {
color: #000000;
}

  .--leave{
      background-color: #896B6B;
      width: 84px;
      box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
      padding: 8px;
  }

  .--call{
      background-color: #C08889;
      width: 84px;
      box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
      padding: 8px;

  }

 .--clear{
         background-color: #5F4747;
         width: 84px;
         box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
         padding: 8px;
 }

 /* tilbage knap i toppen */
.btn__back{
    color: #ffffff;
    background-color: #5F4747;
    padding: 10px;
    margin: 30px;
    border:#5F4747;
    
}

.info {
    box-sizing: border-box;
    padding: 100px;
    border: 10px solid #5F4747;
    padding: 60px;
    margin: 10px auto;
    max-width: 900px;
    margin-top: 45px;
  }

  header {
    background-color: #CDA9AB;
    display: -ms-grid;
    display: grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 2em;
  }
  
  header img {
    width: 140px;
    height: 100px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-left: 1em;
    margin-right: 10em;
  }
  
  header p {
    color: white;
    margin-top: 5em;
    font-size: 15px;
    text-decoration: underline;
    margin: 0px;
    padding: 10px;
  }

.article{
    display: block;
}

/*h1*/
.font__one{
    font-weight: 300;
    font-size: 35px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
    text-align: center;
}
/*h2 */
.font__two{
    font-weight: 200;
    font-size: 14px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
    
}
/*h3*/
.font__three{
    font-weight: 200;
    font-size: 18px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
}

/* paragraph*/
.font__four{
    font-weight: 100;
    font-size: 14px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
}
/* h4*/
.font__five{
    font-weight: 100;
    font-size: 25px;
    line-height: 1.7em;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #5F4747;
    text-align: center;
}

/*list of various violence types */
.vold__list{
    font-weight: 600;
    font-size: 18px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-decoration: none;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}
.vold__list li {
    padding: 0 2em;
}

.vold__list .vold__list:link {
color: #000000;
}

/*header for violence */
.vold__list-header{
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
    text-align: center;
}
/* text that slides of various violence types when button/text is pressed */
.vold__slide{
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    border: 10px solid #5F4747;
    padding: 60px;
    margin: 10px auto;
    max-width: 900px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    color: #5F4747;
}
/* List of mobile variants to deltete historie */
.slet__list-mobile{
    font-weight: 600;
    font-size: 16px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    text-decoration: none;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    color: #5F4747;
}

/* List of desktop variants to deltete historie */
.slet__list-desktop{
    font-weight: 600;
    font-size: 16px;
    line-height: 2.25rem;
    letter-spacing: normal;
    text-transform: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-decoration: none;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    color: #5F4747;
}


/* showing/hiding vold texts */
.vold__slide {
    display: none;
}
.vold__slide.active {
    display:block;
}
.vold__link.active {color:green} /*when link is active*/


/*to top button in side - source
https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #B99B9D; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 0px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-weight: 200; /* weight of font*/
  }
  
  #myBtn:hover {
    background-color: #896B6B; /* Add a dark-color background on hover */
  }

  /* code below is for main page */

  body {
    padding: 0%;
    margin: 0%;
  }
  
  /* det er den css jeg har på knappene i siden*/
  .urgent {
    position: fixed;
    left: 0;
    z-index: 1;
    background: #896B6B;
    width: 84px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
  }
  
  section {
    display: block;
  }
  .urgent__btn {
      box-sizing: border-box;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      color: #ffffff;
  }
  .urgent__btn:link {
  color: #000000;
  }
  
  .--leave{
      background-color: #896B6B;
      width: 84px;
      box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
      padding: 8px;
  }
  
  .--call{
      background-color: #C08889;
      width: 84px;
      box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
      padding: 8px;
  
  }
  
  .--clear{
         background-color: #5F4747;
         width: 84px;
         box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
         padding: 8px;
  }
  















main{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr 2fr;

    padding: 0%;
    margin:0%;
}


.titel{
    text-align: center;
    margin-left: 12em;
}
main p{
    font-size: 12px;
    margin-left: 10em;
}

    main img{
        width: 20em;
        height: 20em;
        grid-column: 2;
        grid-row: 2;
        margin-left: 8em;
        margin-bottom: 5em;
    }

    h3{
        grid-column: 2 ;
        grid-row: 1;
        font-size: 12px;
        color: #BA9B9D;
        padding-right: 5em;
       
    }

    .spiral1{
        width: 40em;
        height: 35em;
    }


    p{
        margin-left: 5em;
        text-decoration: underline;
        font-size: 20px;
        
    }

    .p1{
        color: #CDA9AB;
        grid-column: 1;
        grid-row: 2;
        font-size: 20px;
        
        

    }
    .p2{
        color: #BA8C8C;
        grid-column: 1;
        grid-row: 2;
        padding-top: 2em;
        font-size: 20px;

    }.p3{
        color: #C08889;
        grid-column: 1;
        grid-row: 2;
        padding-top: 4em;
        font-size: 20px;
    }
    .p4{
        color: #B99B9D;
        grid-column: 1;
        grid-row: 2;
        padding-top: 6em;
        font-size: 20px;
    }
    .p5{
        color: #AF7D7E;
        grid-column: 1;
        grid-row: 2;
        padding-top: 8em;
        font-size: 20px;
    }
    .p6{
        color: #9C7676;
        grid-column: 1;
        grid-row: 2;
        padding-top: 10em;
        font-size: 20px;
    }
    .p7{
        color: #8D6A6A;
        grid-column: 1;
        grid-row: 2;
        padding-top: 13em;
        font-size: 20px;
    }
    .p8{
        color: #896B6B;
        grid-column: 1;
        grid-row: 2;
        padding-top: 15em;
        font-size: 20px;
    }
    .p9{
        color: #7E5F5F;
        grid-column: 1;
        grid-row: 2;
        padding-top: 17em;
        font-size: 20px;
    }
    .p10{
        color: #5F4747;
        grid-column: 1;
        grid-row: 2;
        padding-top: 19em;
        font-size: 20px;
    }
    .p11{
        color: #5A595E;
        grid-column: 1;
        grid-row: 2;
        padding-top: 21em;
        font-size: 20px;
    }
    .p12{
        color: #434446;
        grid-column: 1;
        grid-row: 2;
        padding-top: 23em;
        font-size: 20px;
    }


    section p{
        border-style: solid;
        color: #AF7D7E;
        font-size: 15px;
        width: 22em;
        
    }

    .spiral2{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row:1fr 1fr 1fr;
        background-color: #B99B9D;
        height: 40em;
    }
    .voldtittle{
        color: white;
        grid-column: 2;
        grid-row: 1;
        text-align: center;
        font-family: Heiti SC;
        font-size: 20px;
        margin-left: 5em;
    }

    .spiral2 img{
        width: 15em;
        height: 15em;
        grid-column: 2;
        grid-row: 2;
        margin-left:7em;
    }

    .spiral2 p{
        font-size: 12px;
        color: #BA9B9D;
        background-color: white;
        text-decoration: none;
        text-align: center;
    }

    .gentagelsen{
        
        box-shadow: 10px 10px 5px #896B6B ;
        grid-column: 1;
        grid-row: 1;
        margin-top: 2em;
        font-family: Heiti SC;
        margin-left: 10em;
    }

    .spænding{
        box-shadow: 10px 10px 5px #896B6B ;
        grid-column: 3;
        grid-row: 1;
        margin-top: 2em;

    }

    .voldsudbrud{
        box-shadow: 10px 10px 5px #896B6B ;
        grid-row: 3;
        grid-column: 3;
        margin-right: 5em;
        margin-bottom: 2em;
    }

    .fortrydelse{
        box-shadow: 10px 10px 5px #896B6B ;
        grid-row: 3;
        grid-column: 1;
        margin-left: 10em;
        


    }

    .collapsible{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left:10em;

    }

    .collapsible__liste {
        background-color: white;
        color: #AF7D7E;
        cursor: pointer;
        padding: 18px;
        width: 35em;
        border-color:#AF7D7E; 
        text-align: left;
        outline: none;
        font-size: 15px;
        height: 4em;
        margin-top: 1em;
       
        
        font-family: Heiti SC;
      }
      
      .active, .collapsible__liste:hover {
        background-color: #CDA9AB;
      }
      
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
      }

      .content p{
          text-decoration: none;
          border-style: none;
          font-size: 15px;
          font-family: Heiti SC;
          
      }
      

.collapsible__udtalelse{
    margin-top: 5em;
}


  

.collapsible__udtalelse{
    padding-top: 10em;
    margin: 0%;

}

.collapsible__udtalelse p{
    border-style: none;
    font-size: 20px;
    text-decoration: none;  
    font-family: Heiti SC;
    text-align: start;
    padding-right: 5em;
}

.collapsible__udtalelse img{
   width: 10em;
   height: 1.5em;
   align-self: center;
   padding-left: 10em;
  
}
   .box1{
       display: flex;
       flex-direction: column;
       
   }

   .allbox{
       padding-top: 15em;
      
   }
   

   .box1 p{
       font-size: 15px;
       text-decoration: none;
       border-style: none;
       text-align: center;
       background-color: #896B6B;
       color: white;
       height: 15em;
       width: 20em;
       text-align: center;
       padding-top: 5em;
       margin-left: 10em;
   }

   .box2 p{
    font-size: 15px;
    text-decoration: none;
    border-style: none;
    text-align: center;
    background-color: #896B6B;
    color: white;
    height: 15em;
       width: 20em;
    text-align: center;
    padding-top: 5em;
}

.box3 p{
    font-size: 15px;
    text-decoration: none;
    border-style: none;
    text-align: center;
    background-color: #896B6B;
    color: white;
    height: 15em;
       width: 20em;
    text-align: center;
    padding-top: 5em;
}

.allbox{
    display: flex;
    justify-content: space-between;
    padding-right: 5em;
}



.succehistorie{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-top: 5em;
    

}

.succehistorie h2{
    grid-column: 1 / span 2  ;
    font-family: Heiti SC;
    font-size: 30px;
    text-align: center;
    color: black;
    

    
}

.succehistorie__mette{
    
    grid-row: 1 / span 3;
    font-family: Heiti SC;
    
    
}
.succehistorie img{
    width: 30em;
    margin-right: 2em;
}
.succehistorie h3{
    grid-column: 1 /span 2;
    grid-row: 2;
    font-family: Heiti SC;
    border-style:none ;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-left: 8em;


}

.succehistorie__btekst{
    grid-column: 1;
    margin-left: 2em;
    
    
}
.succehistorie p{
    color: black;
    border-style: none;
    text-decoration: none;
    text-align: center;

}

.succehistorie__udtalelse p{
    font-family:Heiti SC ;
    color: black;
    font-size: 25px;
    width: 10em;
    text-align: center;
}
.succehistorie__btekst p{
    font-size:20px;
    font-family: Heiti SC;
}

.topFooter{
    display: flex;
    flex-wrap: wrap;
    background-color: #CDA9AB;

}

.topFooter p{
    border-style: none;
    text-align: center;
    color: white;
}

footer{
    background-color: #CDA9AB;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-bottom:2em ;
}

.footer p{
    color: white;
    border-style: none;
    text-decoration: none;
}

footer p{
    text-decoration: none;
    font-size: 12px;
    color: white;
    text-align: start;
    margin-right: 2em;
    margin-top: 1em;

}

.linje{
    height: 2px;
    width: 1300px;
    margin-left: 5em;
    background-color: white;
    align-self: center;
}

/* det er den css jeg har på knappene i siden
  header {
    background-color: #CDA9AB;
    display: -ms-grid;
    display: grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 2em;
  }
  
  header img {
    width: 100px;
    height: 100px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-left: 1em;
    margin-right: 10em;
  }
  
  header p {
    color: white;
    margin-top: 5em;
    font-size: 15px;
    text-decoration: underline;
  }
  
  h2 {
    font-size: 25px;
    text-align: center;
    color: #9C7676;
  }
  
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  main img {
    width: 30em;
    height: 30em;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-left: 8em;
  }
  
  main h3 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    font-size: 15px;
    color: #BA9B9D;
    padding-right: 5em;
  }
  
  main p {
    margin-left: 5em;
    text-decoration: underline;
    font-size: 12px;
  }
  
  main .p1 {
    color: #CDA9AB;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  
  main .p2 {
    color: #BA8C8C;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 3em;
  }
  
  main .p3 {
    color: #C08889;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 6em;
  }
  
  main .p4 {
    color: #B99B9D;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 9em;
  }
  
  main .p5 {
    color: #AF7D7E;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 12em;
  }
  
  main .p6 {
    color: #9C7676;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 15em;
  }
  
  main .p7 {
    color: #8D6A6A;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 18em;
  }
  
  main .p8 {
    color: #896B6B;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 21em;
  }
  
  main .p9 {
    color: #7E5F5F;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 24em;
  }
  
  main .p10 {
    color: #5F4747;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 27em;
  }
  
  main .p11 {
    color: #5A595E;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 30em;
  }
  
  main .p12 {
    color: #434446;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding-top: 33em;
  }
  
  section {
    padding-left: 5em;
    padding-top: 2em;
  }
  
  section div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  section p {
    font-size: 15px;
    color: #AF7D7E;
    border-style: solid;
    height: 2em;
    width: 35em;
    text-align: center;
  }
  
  section img {
    width: 25em;
    height: 30em;
  }
   */
  