body{
    padding: 0%;
    margin: 0%;
    font-family: Heiti SC;
}

header{
    background-color: #CDA9AB;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-right: 2em;

}

header button{
    margin-top: 3em;
    margin-left: 3em;
}



.navn{
    color: white;
    grid-column: 1;
    font-size: 12px;
    grid-row: 1;
    margin-top: 6em;
    margin-right: 8em;
}

.logo{
   
    grid-column: 1;
    grid-row: 1;
    margin-left: 4em;
    
}


header img{
    width: 80px;
    height: 70px;
   
    margin-left: 1em;
    margin-right: 10em;

}

header p{
    color: white;
    margin-top: 4em;
    font-size: 12px;
    text-decoration: underline;
}

h2{
    
    font-size: 20px;
    text-align: center;
    color: #9C7676;

}

.urgent {
    position: fixed;
    left: 0;
    z-index: 1;
    background: #896B6B;
    width: 84px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
  }
  section {
    display: block;
  }
  .urgent__btn {
      box-sizing: border-box;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      color: #ffffff;
}
.urgent__btn:link {
color: #000000;
}

    
      .--leave{
          background-color: #896B6B;
          width: 84px;
          box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
          padding: 8px;
      }
    
      .--call{
          background-color: #C08889;
          width: 84px;
          box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
          padding: 8px;
    
      }
    
     .--clear{
             background-color: #5F4747;
             width: 84px;
             box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
             padding: 8px;
     }
main{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    
    padding: 0%;
    margin:0%;
}


.titel{
    text-align: center;
    grid-column: 1 /span 3;
}
main p{
    font-size: 12px;
    margin-left: 10em;
}

    main img{
        width: 20em;
        height: 20em;
        grid-column: 2;
        grid-row: 2;
        margin-left: 8em;
        margin-bottom: 5em;
    }

    h3{
        grid-column: 2 ;
        grid-row: 1;
        font-size: 12px;
        color: #BA9B9D;
        padding-right: 5em;
       
    }


    .voldspiral{
        grid-column: 1  ;
        grid-row: 6;
        text-align: left;
        font-size: 16px;
        margin-left: 6em;
        margin-top: 5em;
        line-height: 1.5em;
        
    }
    .spiral1{
        width: 35em;
        grid-column: 2 /span 3;
        grid-row: 6;
        height: 30em;
        
    }


    main p{
        margin-left: 5em;
        text-decoration: underline;
        font-size: 20px;
        text-align: left;
        
    }

    .p1{
        color: #CDA9AB;
        grid-column: 1;
        grid-row: 2;
        font-size: 18px;
    }
    .p2{
        color: #BA8C8C;
        grid-column: 2;
        grid-row: 2;
        
        font-size: 18px;

    }.p3{
        color: #C08889;
        grid-column: 3;
        grid-row: 2;

        font-size: 18px;
    }
    .p4{
        color: #B99B9D;
        grid-column: 1;
        grid-row: 3;
       
        font-size: 18px;
    }
    .p5{
        color: #AF7D7E;
        grid-column: 2;
        grid-row: 3;
        
        font-size: 18px;
    }
    .p6{
        color: #9C7676;
        grid-column: 3;
        grid-row: 3;
        
        font-size: 18px;
    }
    .p7{
        color: #8D6A6A;
        grid-column: 1;
        grid-row: 4;
        
        font-size: 18px;
    }
    .p8{
        color: #896B6B;
        grid-column: 2;
        grid-row: 4;
        
        font-size: 18px;
    }
    .p9{
        color: #7E5F5F;
        grid-column: 3;
        grid-row: 4;
       
        font-size: 18px;
    }
    .p10{
        color: #5F4747;
        grid-column: 1;
        grid-row: 5;
       
        font-size: 18px;
    }
    .p11{
        color: #5A595E;
        grid-column: 2;
        grid-row: 5;
        
        font-size: 18px;
    }
    .p12{
        color: #434446;
        grid-column: 3;
        grid-row: 5;
        
        font-size: 18px;
    }


    section p{
        border-style: solid;
        color: #AF7D7E;
        font-size: 15px;
        width: 22em;
        
    }
    
    

    .spiral2{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row:1fr 1fr 1fr;
        background-color: #B99B9D;
        height: 50em;
    }
    .voldtittle{
        color: white;
        grid-column: 2;
        grid-row: 1;
        text-align: center;
        font-family: Heiti SC;
        font-size: 20px;
        margin-left: 5em;
    }

    .spiral2 img{
        width: 20em;
        height: 20em;
        grid-column: 2;
        grid-row: 2;
        margin-left:4em;
    }

    .spiral2 p{
        font-size: 15px;
        color: #BA9B9D;
        background-color: white;
        text-decoration: none;
        text-align: center;
    }

    .gentagelsen{
        
        box-shadow: 10px 10px 5px #896B6B ;
        grid-column: 1;
        grid-row: 1;
        margin-top: 2em;
        font-family: Heiti SC;
        margin-left: 10em;
    }

    .spænding{
        box-shadow: 10px 10px 5px #896B6B ;
        grid-column: 3;
        grid-row: 1;
        margin-top: 2em;

    }

    .voldsudbrud{
        box-shadow: 10px 10px 5px #896B6B ;
        grid-row: 3;
        grid-column: 3;
        margin-right: 5em;
        margin-bottom: 2em;
    }

    .fortrydelse{
        box-shadow: 10px 10px 5px #896B6B ;
        grid-row: 3;
        grid-column: 1;
        margin-left: 10em;
        


    }

    .collapsible{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left:10em;
        margin-top: 5em;

    }

    .collapsible__liste {
        background-color: white;
        color: #AF7D7E;
        cursor: pointer;
        padding: 18px;
        width: 35em;
        border-color:#AF7D7E; 
        text-align: left;
        outline: none;
        font-size: 15px;
        height: 4em;
        margin-top: 1em;
       
        
        font-family: Heiti SC;
      }
      
      .active, .collapsible__liste:hover {
        background-color: #CDA9AB;
      }
      
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
      }

      .content p{
          text-decoration: none;
          border-style: none;
          font-size: 15px;
          font-family: Heiti SC;
          
      }
      

.collapsible__udtalelse{
    margin-top: 5em;
}


  

.collapsible__udtalelse{
    padding-top: 10em;
    margin: 0%;

}

.collapsible__udtalelse p{
    border-style: none;
    font-size: 20px;
    text-decoration: none;  
    font-family: Heiti SC;
    text-align: start;
    padding-right: 5em;
}

.collapsible__udtalelse img{
   width: 10em;
   height: 1.5em;
   align-self: center;
   padding-left: 10em;
  
}
   .box1{
       display: flex;
       flex-direction: column;
       
   }

   .allbox{
       padding-top: 15em;
      
   }
   

   .box1 p{
       font-size: 15px;
       text-decoration: none;
       border-style: none;
       text-align: center;
       background-color: #896B6B;
       color: white;
       height: 15em;
       width: 20em;
       text-align: center;
       padding-top: 5em;
       margin-left: 10em;
   }

   .box2 p{
    font-size: 15px;
    text-decoration: none;
    border-style: none;
    text-align: center;
    background-color: #896B6B;
    color: white;
    height: 15em;
       width: 20em;
    text-align: center;
    padding-top: 5em;
}

.box3 p{
    font-size: 15px;
    text-decoration: none;
    border-style: none;
    text-align: center;
    background-color: #896B6B;
    color: white;
    height: 15em;
       width: 20em;
    text-align: center;
    padding-top: 5em;
}

.allbox{
    display: flex;
    justify-content: space-between;
    padding-right: 5em;
}



.succehistorie{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-top: 5em;
    

}

.succehistorie h2{
    grid-column: 1 / span 2  ;
    font-family: Heiti SC;
    font-size: 30px;
    text-align: center;
    color: black;
    

    
}

.succehistorie__mette{
    
    grid-row: 1 / span 3;
    font-family: Heiti SC;
    
    
}
.succehistorie img{
    width: 30em;
    margin-right: 2em;
}
.succehistorie h3{
    grid-column: 1 /span 2;
    grid-row: 2;
    font-family: Heiti SC;
    border-style:none ;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-left: 8em;


}

.succehistorie__btekst{
    grid-column: 1;
    margin-left: 2em;
    
    
}
.succehistorie p{
    color: black;
    border-style: none;
    text-decoration: none;
    text-align: center;

}

.succehistorie__udtalelse p{
    font-family:Heiti SC ;
    color: black;
    font-size: 25px;
    width: 10em;
    text-align: center;
}
.succehistorie__btekst p{
    font-size:20px;
    font-family: Heiti SC;
    margin-left: 5em;
}

.video{
    width: 50em;
    margin-left: 20em;
    padding-bottom: 5em;
    padding-top: 5em;
}

.topFooter{
    display: flex;
    flex-wrap: wrap;
    background-color: #CDA9AB;

}

.topFooter p{
    border-style: none;
    text-align: center;
    color: white;
}

footer{
    background-color: #CDA9AB;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-bottom:2em ;
}

.footer p{
    color: white;
    border-style: none;
    text-decoration: none;
}

footer p{
    text-decoration: none;
    font-size: 12px;
    color: white;
    text-align: start;
    margin-right: 2em;
    margin-top: 1em;
    margin-left: 10em;

}

.linje{
    height: 2px;
    width: 1300px;
    margin-left: 5em;
    background-color: white;
    align-self: center;
}

.dropbtn {
    background-color: #B99B9D;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown__btn:hover .dropdown-content {display: block;}
  
  .dropbtn:hover .dropbtn {background-color: #5F4747;}